.main {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .main__image {
  width: 100%;
  height: 480px;
  background-color: #999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-size: 26px;
}

.main .main__quick {
  width: 100%;
  height: 140px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-bottom: 0.2px solid rgb(215, 215, 215);
}

.mq article {
  width: calc(100% / 4);
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;

  cursor: pointer;

  transition: 0.6s;
}

.mq article:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.main .main__text1 {
  margin: 55px 0px;
  width: 100%;
  height: 50px;

  font-size: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mt1 article:nth-child(1) {
  font-size: 26px;
  font-weight: bold;
  color: rgb(40, 40, 40);
  margin-bottom: 10px;
}

.main .main__banner1 {
  width: 100%;
  height: 120px;
  margin: 100px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .main__banner1 div {
  width: 1280px;
  height: 100%;
  background-color: #999;

  font-size: 26px;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .main__imageViewer {
  margin-top: 350px;
  width: 1280px;
  height: 600px;
}

.mv .mv__top {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: row;
}

.mv .mv__bottom {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: row;
}

.mv .mv__top div,
.mv .mv__bottom div {
  width: 50%;
  height: 100%;
  border: 1px solid #999;

  font-size: 24px;
  color: #999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
